body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJNmHt8jyW4WOxlr0qgJU6ESK7ZgCyNw0QQg&s');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    text-align: center;
}

.media-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.media-item {
    margin: 15px;
    text-align: center;
}

.media-item img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
